@tailwind base;
@tailwind components;
@tailwind utilities;

svg path {
  fill: #2d4941;
  transition: fill 0.3s;
}

.selected path {
  fill: #f8f8f8;
}

:root {
  --search-blanc: #ffffff;
  --search-gris: #808080;
  --search-gris-bleute: #b0c4de;
  --search-bleu: #125d8e;
  --search-vert: #008080;
  --search-jaune: #ffff99;
  --search-rouge: #ff4500;
  --search-orange: #ff8c00;
  --search-fauve: #daa520;
  --search-marron: #8b4513;
  --search-noir: #000000;
}

@font-face {
  font-family: 'f37-attila', sans-serif;
  src: url('./assets/fonts/F37 Attila/F37Attila-Bold.ttf') format('truetype');
}

